<div class="row">
    <div class="col-lg-6">
        <h1 [ngClass]="{'hidden': !isRunning }">{{duration}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="task.name" placeholder=" Enter taks name... ">
            <span class="input-group-btn ">
        <button class="btn btn-success "  type="button " (click)="onStartPauseClick()">{{buttonTitle}}</button>
        <button class="btn btn-danger " type="button" (click)="onFinishClick()">Finish</button>
        </span>
        </div>
    </div>
</div>