<div class="row">
    <div class="item html">
        <h2 [ngClass]="{'hidden': !isRunning }">{{duration | formatTime}}</h2>
        <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                <g>
                <title>Layer 1</title>
                <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#6fdb6f" fill="none" 
                [style.stroke-dashoffset]="strokeOffset" />
                </g>
            </svg>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="task.name" placeholder=" Enter taks name... ">
            <span class="input-group-btn ">
        <button class="btn btn-success "  type="button " (click)="onStartPauseClick()">{{buttonTitle}}</button>
        <button class="btn btn-danger " type="button" (click)="onFinishClick()">Finish</button>
        </span>
        </div>

    </div>
</div>