<app-topbar></app-topbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">Login via social provider:</div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><a href="auth?provider=twitter" class="btn btn-default btn-lg btn-block"><i class="fa fa-twitter" aria-hidden="true"></i> &nbsp;Twitter</a></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><a href="auth?provider=github" class="btn btn-default btn-lg btn-block"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;Github</a></div>
        <div class="col-md-4"></div>
    </div>
</div>